In [49]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

jeopardy_data = pd.read_csv('jeopardy.csv')
print(jeopardy_data)

        Show Number    Air Date             Round  \
0              4680  2004-12-31         Jeopardy!
1              4680  2004-12-31         Jeopardy!
2              4680  2004-12-31         Jeopardy!
3              4680  2004-12-31         Jeopardy!
4              4680  2004-12-31         Jeopardy!
...             ...         ...               ...
216925         4999  2006-05-11  Double Jeopardy!
216926         4999  2006-05-11  Double Jeopardy!
216927         4999  2006-05-11  Double Jeopardy!
216928         4999  2006-05-11  Double Jeopardy!
216929         4999  2006-05-11   Final Jeopardy!

                               Category  Value  \
0                               HISTORY   $200
1       ESPN's TOP 10 ALL-TIME ATHLETES   $200
2           EVERYBODY TALKS ABOUT IT...   $200
3                      THE COMPANY LINE   $200
4                   EPITAPHS & TRIBUTES   $200
...                                 ...    ...
216925                   RIDDLE ME THIS  $2000
216926                        "T" BIRDS  $2000
216927           AUTHORS IN THEIR YOUTH  $2000
216928                       QUOTATIONS  $2000
216929                   HISTORIC NAMES   None

                                                                                                                      Question  \
0                             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1                  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
...                                                                                                                        ...
216925                                              This Puccini opera turns on the solution to 3 riddles posed by the heroine
216926                 In North America this term is properly applied to only 4 species that are crested, including the tufted
216927               In Penny Lane, where this "Hellraiser" grew up, the barber shaves another customer--then flays him alive!
216928  From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return"
216929                 A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great

                                Answer
0                           Copernicus
1                           Jim Thorpe
2                              Arizona
3                           McDonald's
4                           John Adams
...                                ...
216925                        Turandot
216926                      a titmouse
216927                    Clive Barker
216928                        Geronimo
216929  Grigori Alexandrovich Potemkin

[216930 rows x 7 columns]

In [50]:
##Inspect the columns and data types; notice leading space on most of the columns
print(jeopardy_data.columns)
print(jeopardy_data.dtypes)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Show Number     int64
 Air Date      object
 Round         object
 Category      object
 Value         object
 Question      object
 Answer        object
dtype: object

In [51]:
##Update column names to remove space
jeopardy_data.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value',
       'Question', 'Answer']
print(jeopardy_data.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [52]:
##Write a function that filters dataset for questions containing all of the words in a list of words. Utilize lambdas.

def is_in_question(data, words):
    filtered = lambda w: all(word.lower() in w.lower() for word in words)
    return data.loc[data["Question"].apply(filtered)]
    
sky_and_clouds = is_in_question(jeopardy_data, ['Sky', 'Clouds']) 
print(sky_and_clouds)
print(is_in_question(jeopardy_data, ['space', 'star']))

        Show Number    Air Date             Round                 Category  \
40583          5824  2009-12-31         Jeopardy!         YOU "AST" FOR IT
93709          3716  2000-10-30  Double Jeopardy!  TONY BENNETT'S SONGBOOK
125296         4199  2002-11-28         Jeopardy!                 THE CARS

       Value  \
40583   $800
93709   $400
125296  $200

                                                                                                                                                                                                                                                                                   Question  \
40583                                                                                                                                                                                                                 When it's more than 90% covered by clouds, the sky is said to be this
93709   My album "Here's to the Ladies" includes the following song made famous by this legendary lady:  <i>"When all the world's a hopeless jumble and the raindrops tumble, heaven opens magically.  When all the clouds darken up the skyway, there's a rainbow highway to be found"</i>
125296                                                                                                                                                                                                          Look! Up in the sky! Those clouds! A Chrysler Cirrus & a Dodge one of these

                                   Answer
40583                            overcast
93709   Judy Garland ("Over The Rainbow")
125296                    a Dodge Stratus
        Show Number    Air Date             Round  \
442            6037  2010-12-07         Jeopardy!
1501           5392  2008-02-05         Jeopardy!
2864           1740  1992-03-06         Jeopardy!
9869           3130  1998-03-20         Jeopardy!
19861          3723  2000-11-08  Double Jeopardy!
20567          5071  2006-10-02  Double Jeopardy!
25454          4820  2005-07-15  Double Jeopardy!
36951          4207  2002-12-10         Jeopardy!
49555          2621  1996-01-15  Double Jeopardy!
49865          3035  1997-11-07         Jeopardy!
64435          5188  2007-03-14  Double Jeopardy!
66941          4893  2005-12-14  Double Jeopardy!
66947          4893  2005-12-14  Double Jeopardy!
66953          4893  2005-12-14  Double Jeopardy!
66959          4893  2005-12-14  Double Jeopardy!
72399          5295  2007-09-21  Double Jeopardy!
85103          3659  2000-06-29  Double Jeopardy!
92226          3521  1999-12-20         Jeopardy!
93825          5256  2007-06-18  Double Jeopardy!
95855          3450  1999-09-10  Double Jeopardy!
120363         4683  2005-01-05         Jeopardy!
130257         5883  2010-03-24         Jeopardy!
137508         3235  1998-10-02         Jeopardy!
145136         6290  2012-01-13         Jeopardy!
146058         4592  2004-07-20  Double Jeopardy!
147131         5245  2007-06-01  Double Jeopardy!
149600         6123  2011-04-06         Jeopardy!
150213         5417  2008-03-11  Double Jeopardy!
150638         1150  1989-09-08  Double Jeopardy!
158684         5255  2007-06-15         Jeopardy!
158690         5255  2007-06-15         Jeopardy!
158903         2966  1997-06-23  Double Jeopardy!
162003         3691  2000-09-25         Jeopardy!
173903         4760  2005-04-22  Double Jeopardy!
175263         3055  1997-12-05  Double Jeopardy!
177124          963  1988-11-09  Double Jeopardy!
177681         3125  1998-03-13         Jeopardy!
181051          504  1986-11-13  Double Jeopardy!
183705         3104  1998-02-12         Jeopardy!
185059         5176  2007-02-26  Double Jeopardy!
211310         3359  1999-03-25  Double Jeopardy!
212270         4142  2002-09-10         Jeopardy!
214980         4252  2003-02-11         Jeopardy!
215269         3865  2001-05-25         Jeopardy!

                            Category   Value  \
442                    LOST IN SPACE   $1000
1501                     WHAT A WEEK    $600
2864                  ANIMATED FILMS    $200
9869                      "TOMORROW"    $100
19861            FEATURE FILM DEBUTS   $1000
20567                      I'M BORED    $800
25454                       DOUBLE U   $1200
36951         CAN I GET YOUR NUMBER?    $800
49555       ARTISTS & THEIR SUBJECTS   $1000
49865       SALLY GOES TO SPACE CAMP    $300
64435               TV OF THE FUTURE   $1600
66941          THE RUSSIANS IN SPACE    $400
66947          THE RUSSIANS IN SPACE    $800
66953          THE RUSSIANS IN SPACE   $1200
66959          THE RUSSIANS IN SPACE   $1600
72399                      STAR WARS    $400
85103                       TV REDUX   $1000
92226         BEFORE THEY WON OSCARS    $100
93825                 AMERICAN PLAYS    $800
95855                   SPORTS STARS    $200
120363                   THEY PASSED    $800
130257           HISTORIC TRANSPORTS    $200
137508                  STEPHEN KING    $200
145136           FLOAT SAM & JET SAM    $800
146058                          ROLE   $1200
147131               PART-LY CORRECT   $1200
149600         GREAT WOMEN IN SPORTS   $1000
150213                  WEB SLINGERS   $1200
150638                  FIRST NOVELS    $800
158684          FILM & TV SPACESHIPS    $400
158690          FILM & TV SPACESHIPS    $600
158903                  TV COMPOSERS    $600
162003  IS THAT YOUR "FINAL" ANSWER?    $200
173903               NICKS & RANGERS   $2000
175263      VILLAINOUS MOVIE SCHEMES    $400
177124                     THE STARS   $1000
177681     ON- & OFF-SCREEN ROMANCES    $300
181051                  THE UNIVERSE    $800
183705           PEOPLE OF THE MONTH    $100
185059         MEDITERRANEAN ISLANDS   $1600
211310                     THE STARS  $1,500
212270                  ALSO AN AUTO    $200
214980            NEW COACHING SIGNS    $800
215269                REMEMBER 1989?    $200

                                                                                                                                                                                                                                                                                                                                                                                                                                          Question  \
442                                                                                                                                                                                                                                                                                                                                           In 1992 Space Shuttle astronauts delivered ashes of this "Star Trek" creator into the final frontier
1501                                                                                                                                                                                                                                                                                                                                                         Each year, World Space Week is at the start of October, commemorating this 1957 event
2864                                                                                                                                                                                                                                                                                                                                                            Pop star Tiffany provided the voice of Judy for this film about a space-age family
9869                                                                                                                                                                                                                                                                                                                                                                                         Space Mountain & Star Tours are among its attractions
19861                                                                                                                                                                                                                                                                                                                                     "Purple People Eater" introduced this young star who played Kevin Spacey's daughter in "American Beauty"
20567                                                                                                                                                                                                                                                                                                                                          Blast off to Space Place & Starchild, 2 websites for kids sponsored by this government space agency
25454                                                                                                                                                                                                                                                                                                                                                            "Star Trek" shows always seemed to be worried about messing up the space-time one
36951                                                                                                                                                                                                                                                                                                                                                          This "Star Trek" TV series incarnation centered on a space station, not a spaceship
49555                                                                                                                                                                                                                                                                                                                                                     Constantin Brancusi was noted for his stark sculptures of this kind of animal "in Space"
49865                                                                                                                                                                                                                                                                                                                                             Sally's interest was sparked by the 1986 film "Space Camp" with this "Caroline in the City" star
64435                                                                                                                                                                                                                                                                                                                                                      (Star Trek) Deep Space 9 guarded one of these subspace bridges, or "tunnels in the sky"
66941                                                                                                          (<a href="http://www.j-archive.com/media/2005-12-14_DJ_26.jpg" target="_blank">Cheryl of the Clue Crew reports from Star City, Russia.</a>)  <a href="http://www.j-archive.com/media/2005-12-14_DJ_26a.jpg" target="_blank">This</a> Russian capsule can ferry up to three crew members to and from the International Space Station
66947                                                                                                          (<a href="http://www.j-archive.com/media/2005-12-14_DJ_27.jpg" target="_blank">Sarah of the Clue Crew reports from Star City, Russia.</a>)  Behind me is a <a href="http://www.j-archive.com/media/2005-12-14_DJ_27a.jpg" target="_blank">simulator</a> of this craft that was inhabited by 104 people during its 15 years in space
66953                                                                                            (<a href="http://www.j-archive.com/media/2005-12-14_DJ_30.jpg" target="_blank">Sarah of the Clue Crew reports from Star City, Russia.</a>) One of the cosmonauts honored at Star City is <a href="http://www.j-archive.com/media/2005-12-14_DJ_30a.jpg" target="_blank">this</a> amateur parachutist, who in 1963 became the first woman in space
66959                                                                                                                                                            (<a href="http://www.j-archive.com/media/2005-12-14_DJ_29.jpg" target="_blank">Cheryl of the Clue Crew reports from Star City, Russia.</a>)  In 1961, Yuri Gagarin became the first man in space & flew three times faster than anyone else had in a capsule called this, or East
72399   (<a href="http://www.j-archive.com/media/2007-09-21_DJ_03.jpg" target="_blank">Sarah of the Clue Crew delivers the clue from Skywalker Ranch in Marin County, CA.</a>)  This early Millennium Falcon model was nixed because it looked like a Space 1999 craft; in the end, it became the first <a href="http://www.j-archive.com/media/2007-09-21_DJ_03a.jpg" target="_blank">ship</a> seen in "Star Wars" carrying this female character
85103                                                                                                                                                                                                                                                                                                                                 These small balls of fur returned for a "Star Trek: Deep Space Nine" episode & a "Jeopardy!" Teen Tournament
92226                                                                                                                                                                                                                                                                                                                                               Kevin Spacey played this evangelist in a TV movie (Bernadette Peters co-starred as Tammy Faye)
93825                                                                                                                                                                                                                                                                                                                                             Kevin Spacey starred in a 2006 British revival of this playwright's "A Moon for the Misbegotten"
95855                                                                                                                                                                                                                                                                                                                                     In "Space Jam", classic Looney Tunes characters recruit this NBA star to help them win a basketball game
120363                                                                                                                                                                                                                                                                                                                           "American Beauty" might've been a little different if this "Fletch" star hadn't turned down the Kevin Spacey role
130257                                                                                                                                                                                                                                                                                                                              Though it never made it into space, thanks to "Star Trek" fans the first Space Shuttle orbiter was called this
137508                                                                                                                                                                                                                                                                                                                                                   This book, King's first published novel, hit the big screen starring Sissy Spacek in 1976
145136                                                                                                                                                                                                                                                                                                                                   U.S. Army pilot Sam Gemar flew on 3 Space Shuttle missions, starting with this alphabetically first craft
146058                                                                                                                                                                                                                                              <a href="http://www.j-archive.com/media/2004-07-20_DJ_18.jpg" target="_blank">Hi. I'm Levar Burton.</a> In 1987 I blasted off into space as Geordi La Forge in this incarnation of "Star Trek"
147131                                                                                                                                                                                                                                                                                                                                                    In the "Star Trek" universe, it's 1/4 of the Milky Way; Deep Space 9 is in the Alpha one
149600                                                                                                                                                                       (<a href="http://www.j-archive.com/media/2011-04-06_J_10.jpg" target="_blank">Hannah Storm reads the clue from the set of SportsCenter.</a>)  In 1977 this ex-aerospace engineer became the first woman to earn starting spots in both the Indy 500 & the Daytona 500
150213                                                                                                                                                                                                                                                                                                                                         This social network similar to MySpace started in a Harvard dorm & originally only allowed students
150638                                                                                                                                                                                                                                                                                                                                                     Stephen King's 1st published novel, it was made into a 1976 movie starring Sissy Spacek
158684                                                                                                                                                                                                                                                                                                                                The Atlantia & the Pacifica were 2 of the other Battlestars on this TV show bearing another spaceship's name
158690                                                                                                                                                                                                                                                                                                                              In "Star Trek III" Christopher Lloyd as a villain from this race commanded a spaceship called the Bird of Prey

In [54]:
##Convert the "Value" column to float.  Remove $ and ,  values
jeopardy_data['Value'] = jeopardy_data['Value'].apply(lambda v:float(v[1:].replace(',','')) if v != "None" else 0)
print(jeopardy_data.Value.head(10))

0    200.0
1    200.0
2    200.0
3    200.0
4    200.0
5    200.0
6    400.0
7    400.0
8    400.0
9    400.0
Name: Value, dtype: float64

In [56]:
##Print average value of questions that contain certain words above
space_and_star = is_in_question(jeopardy_data, ['space', 'star'])
print(space_and_star.Value.mean())

754.5454545454545

In [57]:
#Write a function that returns count of unique answers to all of the questions in a dataset.

def unique_answers(data):
    return data['Answer'].value_counts()

print(unique_answers(space_and_star))

Michael Jordan                 2
Carrie                         2
John Williams                  1
The Jetsons                    1
Alpha Centauri                 1
Chevy Chase                    1
the Sputnik launch             1
June Lockhart                  1
a wormhole                     1
Isaac Asimov                   1
a quadrant                     1
Valentina Tereshkova           1
Tribbles                       1
Atlantis                       1
Vostok                         1
Deep Space Nine                1
Zsa Zsa Gabor                  1
Facebook                       1
Mir                            1
Star Trek: Voyager             1
rook                           1
Tunisia                        1
(Disneyland's) Tomorrowland    1
Black hole                     1
Lea Thompson                   1
the Enterprise                 1
the Klingons                   1
Eugene O'Neill                 1
Princess Leia                  1
The final frontier             1
Soyuz                          1
continuum                      1
"Next Generation"              1
(Janet) Guthrie                1
Jim Bakker                     1
Pleiades                       1
Battlestar Galactica           1
Thora Birch                    1
Gene Roddenberry               1
Meg Ryan                       1
a bird                         1
NASA                           1
Name: Answer, dtype: int64

In [ ]:
##Come back to do further exploration another time